<h1><%= "#{I18n.t('actions.update')} #{@user.class.model_name.human}" %></h1>

<%= render 'form', user: @user %>

<%= link_to I18n.t('actions.show'), @user %>
|
<%= link_to I18n.t('actions.back'), users_path %>
