<h1>Welcome to open-confinement</h1>
<p>This site's purpose is to help people that need help connect with the volunteers that can provide it.</p>
<p>Which category describes you better?</p>

<span class="huge">
<%= link_to 'I need help!', proposals_path %> | <%= link_to 'I want to help!', requests_path %>
</span>
